* {
  margin: 0;
  padding: 0;
}
.octodex {
  display: flex;
  border: solid 2px black;
} /* parent container the whole page    */
li {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.octocat img {
  width: 90%;
  height: 90%;
  border: solid 2px black;
}
span {
  font-size: 12px;
}
/* div .authors {
  margin-left: auto;
} */
.authors img {
  width: 20px;
  height: 20px;
}
div + span {
  margin-right: auto;
}
.image-footer {
  display: flex;
  flex-flow: row wrap;
  transform: translate(-25px);
}
.image-number {
  display: flex;
  align-self: center;
}
.image-caption {
  display: flex;
  padding-left: 5.5em;
  align-self: flex-end;
}
